@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

header {
    background-image: url("../pictures/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 60vh;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

.menu {
    width: 30vw;
    align-self: flex-end;
}

.nav-link {
    text-shadow: 7px 1px 9px #29333b;
    -webkit-text-stroke: 0.3px #b6cce0;
    font-size: 1.2em;
    font-family: 'Acme', sans-serif;
}

.title {
    text-shadow: 7px 1px 9px #0f0a06;
    -webkit-text-stroke: 0.4px #160e08;
}
footer {
    background-image: url("../pictures/footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

footer a {
    color:white;
    text-decoration: none;
    -webkit-text-stroke: 0.5px #160e08;
    text-shadow: 7px 1px 9px #201f1b;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-img-top {
    height: 40vh;
}

.card {
    height: 70vh;
}

.btn {
    color: white;
}

fieldset {
    margin: auto;
    margin-top: 100px;
    width: 60%;
}

.img-thumbnail {
    width: 70px !important;
    height: 70px !important;
}


